{% extends "base.html" %}
{% block content %}

<div id="chat">

	<div id="users">

	</div>

	<div id="messages">
		{% for message in messages reversed %}
		{% if message.user.username == pseudo %}
		<div class="message">
		{% else %}
		<div class="message other">
		{% endif %}
			<div class="header">
				<span>
					<small>
						{{ message.user.username }}
					</small>
				</span>
			</div>
			<div class="content">
				<p>{{ message.message }}</p>
			</div>
		</div>
		{% endfor %}
	</div>

	<div id="send">

		<textarea id="text" name="text" placeholder="Type your message"></textarea>
		<a href="/logout"><button class="red">LOGOUT</button></a>
		<input type="submit" value="SEND" id="submit"/>
	</div>
</div>
<script>
	const pseudo = '{{ pseudo }}';
</script>
<script src="/media/script/textarea.js"></script>
<script src="/media/script/socket.js"></script>

{% endblock %}