{% extends "base.html" %}
{% block content %}
<div id="formlog">
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div id="register">
        <form class="form-horizontal" name="RegisterForm" action="/register/" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="username">Username</label>
                <div class="controls">
                    <input type="text" id="username" name="username"  placeholder="Username">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input type="password" name="password1" id="password1" placeholder="Password">
                    <input type="password" name="password2" id="password2" placeholder="Again">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="mail">Email</label>
                <div class="controls">
                    <input type="mail" name="mail" id="mail" placeholder="xyz@example.com">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}